.hero {
background-image: url('./pic_1.jpg');
  background-size: cover;
  height: auto;
  background-position: center; 
  font-family: 'Source Sans Pro', sans-serif;
  background-size: cover;
}

.nav-link {
  font-weight: 700;
}

.active-nav {
  border-bottom: 2px solid white;
}

.spacing {
  margin-top: 220px;
  font-size: 120px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
}

.register-button {
    background-color: #C271FF;
    margin-bottom: 12rem;
    font-family: 'Source Sans Pro', sans-serif;
}

.thumb {
    height: 150px;
    width: 150px;
}

.purple {
  color: #C271FF !important;
}

.bg-color {
  background-color: #C271FF;
}

.carousel-container {
  width: 75%;
  height: 90%;
}

.tutorial-frame {

  background-color: aqua;
}

button:hover {
  opacity: .9;
}

.membership {
  background: #071629;
}

.register-button-lower {
  background-color: #C271FF;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
}

footer {
  background-color: #071629;
}

footer small {
  color: #FFFFFF;
}

.hero-pricing {
  background-image: url('./pic_2.jpg');
    background-size: cover;
    height: auto;
    background-position: center; 
    font-family: 'Source Sans Pro', sans-serif;
    background-size: cover;
  }

  .logo-font {
  font-family: 'Coiny', cursive;
 }

 .go-pro {
   font-family: 'Source Sans Pro', sans-serif;
   font-weight: 700;
   font-size: 60px;
 }

 .price {
   font-size: 44px;
   font-weight: 700;

 }

 .price-per {
   font-size: 12px;
   font-weight: 400;
   color: #FFFFFF;
   mix-blend-mode: normal;
  opacity: 0.5;
 }
 
 .price-button {
  background-color: #C271FF;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  width: 162px;
  height: 44px;
  line-height: 17.6px;
}

.left-column-text {
  font-size: 18px;
}

.row-border {
  border-bottom: 1px solid rgba(255, 255, 255, .2);
  mix-blend-mode: normal;
}